
<div class='piece-show'>
  <h2><%=piece.name%></h2>
  <h3>By <%= piece.creator.firstname %> <%= piece.creator.lastname %> </h3>
  <img src="<%=piece.image%>" width="300px"/>
  <h3> Located in the <a href="/museums/<%=piece._id%>"> <%= piece.name %></a> </h3>
</div>

<div class = 'creator-show'>
  <h3><%= piece.creator.firstname %> <%= piece.creator.lastname %></h3>
  <h4>Born: <%=piece.creator.birthYear %></h4> <h4>Died: <%=piece.creator.deathYear %></h4>
  <img src="<%= piece.creator.image %>">
</div>
